
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    property= otherProperty
    body
      h1
        Contact Form Sumbmission for The Band Camp Web App
      br
      h2 
        From
      h3.h3= firstName 
      h3.h3= lastName
      br
      h2
        strong Address: 
        h3.h3= city 
        h3.h3= state
      h2
        strong Contact Info:
        h3.h3= email
        h3.h3= phone
      h2
        strong Comments:
        h3.h3= comments
        h3.h3= time
      br
